{% extends 'base.html' %}

{% block title %}Place an Order{% endblock %}

{% block content %}
    <h1>Place an Order</h1>
    <form method="post" action="{% url 'confirmation' %}">
        {% csrf_token %}
        <h2>Menu Items</h2>
        <label>
            <input type="checkbox" name="pizza" value="10">
            Pizza - $10
        </label><br>
        <label>
            <input type="checkbox" name="burger" value="8">
            Burger - $8
        </label><br>
        <label>
            <input type="checkbox" name="salad" value="6">
            Salad - $6
        </label><br>
        <label>
            <input type="checkbox" name="daily_special" value="12">
            {{ daily_special }} - $12
        </label><br>
        
        <h2>Customer Information</h2>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>
        
        <label for="phone">Phone:</label>
        <input type="tel" id="phone" name="phone" required><br>
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>
        
        <label for="special_instructions">Special Instructions:</label>
        <textarea id="special_instructions" name="special_instructions"></textarea><br>
        
        <input type="submit" value="Place Order">
    </form>
{% endblock %}